*{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}
html{
	height: 100%;
}

body{
	height: 100%;
	    font-family: "Roboto Slab",sans-serif;
}
h2{
	text-align: center;
	height: 100px;
	line-height: 100px;
}

#mainDoc{
	width: 100%;
	background-color: #F4F4F4;
}
#menu{
	height: 100%;
	width: 300px;
	background-color: #006400;
	float: left;
	position: fixed;
	top: 0px;
	left: 0px;
}

#menu >ul{
	width: 100%;
	height: 100%;
}
#menu >ul >li{
	list-style: none;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ebebeb;
	color: #ffffff;
	padding-left: 30px;
	background-color:  #006400;
	cursor: pointer;
}
#menu >ul>div{
	width: 100%;
	height: 100px;
}
#content{
	width:1100px;
	float: left; 
	height: 100%;
	position: relative;
	top: 0px;
	left: 20%;
	background-color: #ffffff;
}
.clearfix:after{
	content: ' ';
	display: block;
	width: 100%;
	clear: both;
}
#content >div{
	position: absolute;
	width: 900px;
	top:0px;
	left: 20px;
	display: none;
	background-color: #ffffff;
}
#content >div:nth-child(1){
	display: block;
}
#menu >ul >li:nth-child(1){
		background-color: rgba(0,0,0,0.7);
}
#search {
	position: relative;
}
#search >div{
	height: 30px;
	width: 220px;
	position: absolute;
	top: 50px;
	left: 30px;
	
}
#search >div >form{
	width: 100%;
	height: 100%;
	position: relative;
}
#search >div >form > input{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 10px;
	outline: none;
	padding: 0px 40px 0px 30px;
}
#search >div >form >button{
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color:transparent;
	text-indent: -100000px;
	outline: none;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
#search >div >form >span{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 0px 10px 10px 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #ddd url(search.png) no-repeat center center;
	background-size: 30px;

}

#connectIntroduction{
	margin-top: 30px;
}
#connectIntroduction p{
	line-height: 30px;
	margin: 15px 0px;
	padding-left:  20px;
}
#question1{
	margin-top: 30px;
}
#question1 >div:nth-child(1){
	height: 350px;
	width: 300px;
	background: transparent url(a.png) no-repeat center center;
	float: left;
}
#question1 p{
	width: 600px;
	float: right;
	
}
#question1 p:nth-child(3){
	background-color: #C6DFF1;
	border-left: 5px solid #558ABB;
}
#question2{
	width: 100%;
}
#question2 >div {
	margin-top: 30px;
	background-color: #DDDDDD;
}
#question2 >div >div:nth-child(1){
	height: 200px;
	width: 200px;
	float: right;
	background: #ddd;
}
#question2 >div >div:nth-child(2){
	width: 700px;
	float: left;
	padding-top: 15px;
}
#question2 >div:nth-child(2n) >div:nth-child(1){
	float: left;
}
#question2 >div:nth-child(2n) >div:nth-child(2){
	float: right;
}
#question2 >div:nth-child(1) >div:nth-child(1){
	background: transparent url(b.png) no-repeat center center;
}
#question2 >div:nth-child(2) >div:nth-child(1){
	background: transparent url(c.png) no-repeat center center;
}
#question2 >div:nth-child(3) >div:nth-child(1){
	background: transparent url(d.png) no-repeat center center;
}
#question2 >div:nth-child(4) >div:nth-child(1){
	background: transparent url(e.png) no-repeat center center;
}
#question2 >div:nth-child(5) >div:nth-child(1){
	background: transparent url(f.png) no-repeat center center;
}

#connect{
	width: 100px;
	height: 50px;
	background-color: #ddd;
	position: fixed;
	bottom: 0px;
	right: 100px;
}
#connect button{
	background-color: #006400;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	box-shadow: 0px 0px 5px rgba(0,100,0,0.8);
}
#end {
	width: 100%;
	height: 200px;
	background-color: transparent;
}
#connectHTML{
	margin-top: 30px;
}
#connectHTML p{
	line-height: 30px;
	margin: 15px 0px;
	padding-left:  20px;
}
pre{
	margin: 30px;
	background-color: #ddd;
}
#html1{
	background-color: #DDE4E9;
	border-left: 4px solid #558ABB;

}
#html2 span{
	color: red;
}
#html3 >div{
	background-color: #DDFFDD;
	border-left: 5px solid #4CAF50;

}
#html3 ul{
	margin-left: 40px;
}
